<br />

<div class="booyah-box col-10 offset-1">
  <h1>Privacy Policy</h1>
  <br />
  <br />
  <p>
    This page informs you of our policies regarding the colleciton, use and disclosure of Personal Information we receive from users of the Site.
    <br />
    <br />
    We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.
    <br />
    <br />
    If we make any material changes to this Privacy Policy, we will notify you through the email address you have provided us, or by placing a prominent notice on the website.
  </p>
</div>